<div class="container-fluid gridBody">

    <h5>PAYROLL AREA PAGE</h5>

    <div class="center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                             Payroll
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul class="hrListing">
                            <li>
                                <img src="{{'dist/images/payroll-icon.png'}}" alt="">
                                <a href="setup.html">Setup</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/payroll-icon.png'}}" alt="">
                                <a href="payday.html">Payday</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>