<div class="container-fluid gridBody">

    <h5>INVENTORY ITEM</h5>

    <div class="center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel active">
                <div class="panel-heading">
                    <h4 class="panel-title">
                            Inventory
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="Product-List.html">Product List</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="grid.html">Item 2</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="grid.html">Item 3</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="grid.html">Item 4</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="grid.html">Item 5</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/inventory-icon.png'}}" alt="">
                                <a href="grid.html">Item6</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
