<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">ERPWebApp</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Contact-form']">
                        <span class='glyphicon glyphicon-th-list'></span> Contact Form
                    </a>
                </li>
            </ul>
        </div>
<img src="../../../../wwwroot/dist/images/logo.png" />
    </div>
</div>-->
<div class="smLogo"><img src="{{'dist/images/sm-logo.png'}}"></div>
<nav class="navbar p-0">

    <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/counter']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Home</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/fetch-data']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Purchase</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/counter']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Sale</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/fetch-data']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />General Ledger</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/counter']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Inventory</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/fetch-data']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Production</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/counter']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Fixed Assets</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/payroll-area']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow">Payroll</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/hr-area']"><img src="{{'dist/images/arrow-list.png'}}" alt="arrow" class="arrow" />Human Resources</a> </li>
    </ul>
</nav>