<div class="container-fluid gridBody">

    <h5>HR AREA PAGE</h5>

    <div class="center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                            Human Resource
</h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul class="hrListing">
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="organization.html">Organization</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="department.html">Department</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="position.html">Position</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="employee.html">Employee</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="recruitment.html">Recruitment</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="team-main.html">Team</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="approval.html">Approval Process</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="leave-employee.html">Leave Management</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="appraisal.html">Appraisal</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/hr-icon.png'}}" alt="" />
                                <a href="employee-request.html">Employee Request</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>