<div class="container-fluid gridBody">

    <h5>PRODUCTION AREA</h5>

    <div class="center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel active">
                <div class="panel-heading active" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            Common
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <img src="{{'dist/images/vendor-icon.png'}}" alt="Vendor">
                                <a href="grid.html">Vendor</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/purchase-icon.png'}}" alt="Purchase">
                                <a href="grid.html">Purchase</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/order-icon.png'}}" alt="Order">
                                <a href="grid.html">Order</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/payment-icon.png'}}" alt="Payment">
                                <a href="grid.html">Payment</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/invoice-icon.png'}}" alt="Invoice">
                                <a href="grid.html">Invoice</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/agreement-icon.png'}}" alt="Agreement">
                                <a href="grid.html">Agreement</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                                    Report
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Vendor Aging">
                                <a href="grid.html">Vendor<br>Aging</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Account Statement">
                                <a href="grid.html">Account<br>Statement</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Invoice Specification">
                                <a href="grid.html">Invoice<br>Specification</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Vendor Transaction Report">
                                <a href="grid.html">Vendor<br>Transaction<br>Report</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Invoice Journal">
                                <a href="grid.html">Invoice<br>Journal</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/report-icon.png'}}" alt="Product Receipt">
                                <a href="grid.html">Product<br>Receipt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                               Setup
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Payment<br>Method</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Delivery<br>Term</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Charges<br>Code</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Terms of<br>Payment</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Cash<br>Discount</a>
                            </li>
                            <li>
                                <img src="{{'dist/images/setup-icon.png'}}" alt="">
                                <a href="grid.html">Parameters</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>